body{
    font-family: Arial, Helvetica, sans-serif;
    margin: o;
    padding: 0;
    background-color: red;
    color: white;
    flex-wrap: wrap;
}
header{background-color: #333;
    color: white;
    text-align: center;
}
nav a{
    display: flexbox;
    justify-content: space-between;
    color: white;

}
nav a :hover{
    background-color: blue;
    color: goldenrod;
    cursor:progress;
}
footer{
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
}
img{
    border-radius: 10px;
    border: 3px solid,black;
    width: 100px;
    padding: 2px;
    margin: 5px;
}